<nav class="navbar navbar-inverse" th:fragment="header"
	role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li class="active"><a th:href="@{/home}">Home</a></li>
			<li><a th:href="@{/region/all}"><span></span>Regions</a></li>
			<li><a th:href="@{/country/all}"><span></span>Countries</a></li>
			<li><a th:href="@{/location/all}"><span></span>Locations</a></li>
			<li><a th:href="@{/employee/all}"><span></span>Employees</a></li>
			<li><a th:href="@{/jobHistory/all}"><span></span>Job History</a></li>
			<li><a th:href="@{/job/all}"><span></span>Jobs</a></li>
			<li><a th:href="@{/department/all}"><span></span>Departments</a></li>
			<li><a th:href="@{/logout}"><span></span>Logout</a></li>

		</ul>
	</div>
</nav>
