<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="../../webjars/bootstrap/3.3.6/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<title>Country Edition</title>
</head>
<body>
	<div class="container">

		<h2>Edit the country</h2>

		<form th:action="@{/country/update}" th:object="${countryForm}"
			method="POST">
			<p>
				<span>Country ID :</span> <span th:text="${countryForm.countryId}"></span>
			</p>
			<div class="form-group">
				<input type="text" th:field="*{countryId}" style="display: none;" />
				<label for="name">Country Name :</label> <input type="text"
					th:field="*{countryName}" class="form-control" id="name" />
			</div>
			<div class="form-group">
				<label for="reg">Region :</label> <select
					th:field="*{region.regionId}" class="form-control" id="reg">
					<option th:each="reg : ${regions}" th:value="${reg.regionId}"
						th:text="${reg.regionName}"></option>
				</select>
			</div>

			<input type="submit" class="btn btn-default" value="Commit" />

		</form>
	</div>
</body>
</html>