<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="../../webjars/bootstrap/3.3.6/css/bootstrap.min.css">
<title>Department List</title>
</head>
<body>
	<div class="container">

		<h1>List of departments :</h1>
		<table class="table table-striped" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>DEPARTMENT NAME</th>
					<th>MANAGER</th>
					<th>LOCATION</th>
					<th>ACTION</th>
				</tr>
			</thead>

			<tbody th:each="department : ${departments}">
				<tr>
					<td th:text="${department.departmentId}"></td>
					<td th:text="${department.departmentName}"></td>
					<td th:text="${department.managerName}"></td>
					<td
						th:text="${department.location.streetAddress + ', ' + department.location.city + ', ' + department.location.country.countryName }"></td>
					<td><a
						th:href="@{/department/edit/{id}(id=${department.departmentId})}">Edit</a></td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>