<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="../../webjars/bootstrap/3.3.6/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<title>Job History Edition</title>
</head>
<body>
	<div th:replace="fragment/header :: header"></div>
	<div class="container">

		<h2>Edit the Job History</h2>

		<form th:action="@{/jobHistory/update}" th:object="${jobHistoryForm}"
			method="POST">
			<p>
				<span>Employee :</span> 
				<span th:text="${jobHistoryForm.employee.employeeId +' : '+ jobHistoryForm.employee.firstName + ' ' + jobHistoryForm.employee.lastName}"></span>
			</p>
			
			<p>
				<span>Start Date :</span>
				<span th:text="${jobHistoryForm.id.startDate}"></span>
			</p>
			
			<div class="form-group">
				<label for="dep">Department :</label> <select
					th:field="*{department.departmentId}" class="form-control" id="dep">
					<option th:each="dep : ${departments}"
						th:value="${dep.departmentId}" th:text="${dep.departmentName}"></option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="job">Job :</label> <select th:field="*{job.jobId}"
					class="form-control" id="job">
					<option th:each="job : ${jobs}" th:value="${job.jobId}"
						th:text="${job.jobTitle}"></option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="endDate">End Date :</label> <input type="text"
					th:field="*{endDate}" class="form-control" id="endDate" />
			</div>


			<input type="submit" class="btn btn-default" value="Commit" />

		</form>
	</div>
</body>
</html>